.genres-wrapper {
  display: flex;
}

.genres::before {
  content: ",";
}

.genres:first-of-type::before {
  content: " ";
}

.card-body {
  display: flex;
  flex-direction: row;
}

.card-content {
  margin-left: 25px;
}
